.todoList{
  text-align: center;
  color: white;
  input{
    margin: 10px;
    background-color: azure;
    border-radius: 5px;
  }
  .output{
    margin-top: 10px;
    div{
      margin-top: 5px;
    }
    
  }
  #clear{
    background-color: white;
    border-radius: 5px;
    padding: 3px;
    margin-left: 10px;
  }
  button{
    background-color: white;
    border-radius: 5px;
    padding: 3px;
  }

}