.todoList{
  text-align: center;
  color: white;
  input{
    margin: 10px;
    background-color: azure;
    border-radius: 5px;
  }
  .output{
    margin-top: 10px;
    div{
      margin-top: 5px;
    }
  }
}